<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jimming.traceback_cleaner</string>
	<key>connections</key>
	<dict>
		<key>4038C5F8-3DEA-41A0-9E74-42B3BCF93504</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96A34645-10AB-45FE-9A15-BD3A79E93273</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68B8C147-D311-4CBF-AB90-1F647798E038</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96A34645-10AB-45FE-9A15-BD3A79E93273</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96A34645-10AB-45FE-9A15-BD3A79E93273</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6E93E0A-95E4-4892-ACA9-A25FBD64851A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6E93E0A-95E4-4892-ACA9-A25FBD64851A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D956E0B-AA57-4A1A-8CBB-3F63877DF86B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>782C3D03-8034-4AC7-8AEF-BFA711752366</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jimming Cheng</string>
	<key>description</key>
	<string>Reformat tracebacks to be more readable</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Traceback Cleaner</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>7D956E0B-AA57-4A1A-8CBB-3F63877DF86B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tbclean</string>
				<key>subtext</key>
				<string>Takes traceback from clipboard and pastes back a cleaned version</string>
				<key>text</key>
				<string>Clean traceback from clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4038C5F8-3DEA-41A0-9E74-42B3BCF93504</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>python3 -m clean_traceback</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Library/Frameworks/Python.framework/Versions/3.10/bin/python3</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C6E93E0A-95E4-4892-ACA9-A25FBD64851A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>782C3D03-8034-4AC7-8AEF-BFA711752366</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>dirty_stacktrace</key>
					<string>{clipboard}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>96A34645-10AB-45FE-9A15-BD3A79E93273</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>stclean</string>
				<key>subtext</key>
				<string>Takes stacktrace from clipboard and pastes back a cleaned version</string>
				<key>text</key>
				<string>Clean stacktrace from clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>68B8C147-D311-4CBF-AB90-1F647798E038</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4038C5F8-3DEA-41A0-9E74-42B3BCF93504</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>68B8C147-D311-4CBF-AB90-1F647798E038</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>782C3D03-8034-4AC7-8AEF-BFA711752366</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>7D956E0B-AA57-4A1A-8CBB-3F63877DF86B</key>
		<dict>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>96A34645-10AB-45FE-9A15-BD3A79E93273</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>C6E93E0A-95E4-4892-ACA9-A25FBD64851A</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
